<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navBar">
    <div id="navBar_container" class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo2.png" alt="" width="160" class="d-inline-block align-text-top">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a style="font-weight: bold;" class="nav-link active" aria-current="page" href="#">홈</a>
          <a class="nav-link" href="#">로그인 / 회원가입</a>
          <a class="nav-link" href="#">이용 안내</a>
          <a class="nav-link" href="#">FAQ</a>
        </div>
      </div>
    </div>
</nav>