<div id="tab-btn">
    <ul>
        <li id="nav_tab1" class="nav_tablinks active" aria-selected="true"><a href="/">채용 정보</a></li>
        <li id="nav_tab2" class="nav_tablinks" aria-selected="false"><a href="/masters">마스터 정보</a></li>
        <li id="nav_tab3" class="nav_tablinks" aria-selected="false"><a href="/profile">프로필</a></li>
    </ul>
</div>